{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="columns">
            <div class="column is-full-width">
                <p>Hello {{ user.username|default:'Guest' }}!
                    <div>
                        {% if user.is_authenticated %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Chat Title</th>
                                        <th>Conversation ID</th>
                                        <th>Conversation Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for conversation in conversations %}
                                        <tr>
                                            <td>{{ conversation.name }}</td>
                                            <td>{{ conversation.conversation_id }}</td>
                                            <td>Done</td>
                                            <td>
                                                <a class="button" href="{% url 'analyzer:chat' conversation.pk %}">View Details</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="alan-btn"></div>
        </div>
        <script>
            var alanBtnInstance = alanBtn({
                key: 'd57b8f2fd87e48b2fc21a1ff451331ae2e956eca572e1d8b807a3e2338fdd0dc/stage',
                onCommand: function (commandData) {
                    if (commandData.command === "go:back") {
                        // Call the client code that will react to the received command
                    }
                },
                rootEl: document.getElementById("alan-btn"),
            });
        </script>
{% endblock %}

